.title-bar__windowsButtons {
  width: 69px;
  height: 29px;

  background: var(--Tab-color);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  color: var(--Text-color-default);
}

.windowsButtons__minimize,
.windowsButtons__close {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.windowsButtons__minimize:hover {
  background: red;

  border-radius: 5px 0 0 5px;
}
.windowsButtons__close:hover {
  background: red;

  border-radius: 0 5px 5px 0;
}
